
@{
    Layout = null;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="~/Content/Styles/bootstrap-4.4.1/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Styles/main.css" rel="stylesheet" />

    <title>@PageData["Title"]</title>
</head>
<body @PageData["Event"]>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                @RenderPage("~/Pages/Partials/_Header.cshtml")
            </div>
        </div>
        <div class="row bg-info w-100 ml-1">
            <div class="col-md-6">
                @RenderPage("~/Pages/Partials/_HorizontalMenu.cshtml")

            </div>
            <div class="col-md-6">

                @if (!IsSectionDefined("Authorization"))
                {
                    @RenderPage("~/Pages/Partials/_Authorization.cshtml");
                }
                else
                {
                    @RenderSection("Authorization", required: false)
                }

            </div>
        </div>
        <div class="row">
            <div class="col-sm-10  m-4 >
                @RenderBody()
            </div>
            <div class="col-sm-2 m-4 p-4>
                @RenderPage("~/Pages/Partials/_AuxiliaryMenu.cshtml")
            </div>



        </div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap-4.4.1/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery/jquery.unobtrusive-ajax.min.js"></script>
    @RenderSection("AdditionalScripts", required: false)
</body>
</html>
