@using DentalOffice.WebUI.Management;
@using DentalOffice.Entities;
@{
    Layout = "~/Pages/Layouts/_MainLayout.cshtml";
    PageData["Title"] = "Запись на прием";

    var appManager = new AppointmentManager();
    var roleProvider = new DentalOfficeRoleProvider();


    string errorMessage = "";
    string adminInfo = "Обратитесь за помощью к администратору admin@mystom.ru";

    string dayOfWeek = "";
    bool result = false;


    DateTime currentDate = DateTime.Today;
    DateTime validDate = appManager.GetValidDate(currentDate, out dayOfWeek);
    var records = appManager.GetAllOnDate(validDate, out errorMessage);

    //Tag attributes
    string disAttr = "";
    string disClass = "";
    string displayAttr = "style=display:none";

    string idAttr = "";

    //Parameters from Request
    string date = Request["date"];
    string time = Request["time"];

    DateTime.TryParse(date, out DateTime reqDate);


    if (!String.IsNullOrEmpty(date) && !String.IsNullOrEmpty(time))
    {
        if (Request["result"] == "success")
        {
            displayAttr = "";
            idAttr = $"d{reqDate.Day}t{time}";
            result = true;
        }
        else if (roleProvider.IsUserInRole(User.Identity.Name, "Пациент"))
        {
            var record = appManager.CreateRecordFromRequest(date, time, User.Identity.Name);
            if (record.ID != 0)
            {
                displayAttr = "";
                idAttr = $"d{reqDate.Day}t{time}";
                result = true;
            }
        }
        else
        {
            Response.Redirect($"~/Pages/UnregisteredPatient?date={date}&time={time}");
        }
    }
}

@section AdditionalScripts
    {
    <script type="text/javascript">
        if ('@idAttr' != "")
        {
            document.getElementById('@idAttr').setAttribute('aria-disabled', 'true');
            document.getElementById('@idAttr').classList.add('disabled');
        }
    </script>
}

<!-- Information messages -->
<div class="row">
    <div class="col-12 text-center">
        @if (result)
        {
            <div class="alert alert-success" role="alert">
                <h5 class="text-center">
                    Поздравляем, вы успешно записаны на прием <strong>@reqDate.ToString("dd MMMM") в @time:00</strong> !
                </h5>
            </div>
        }

        @if (records != null)
        {
            <h5 class="text-center">
                Запись на приём осуществляется на ближайшие три рабочих дня. Выберите любое свободное время.
            </h5>
        }
        else
        {
            <div class="alert alert-danger" role="alert">
                @errorMessage. @adminInfo
            </div>
        }
    </div>
</div>

<!-- Timetable -->

@if (records != null)
{
    <div class="row">
        <div class="col-md-2"></div>

        @for (int day = 0; day < 3; day++)
        {
            <div class="col-md-3">
                @{
                    if (day > 0)
                    {

                        validDate = appManager.GetValidDate(currentDate.AddDays(day), out dayOfWeek, day);
                        records = appManager.GetAllOnDate(validDate, out errorMessage);
                    }
                }

                <h6>@dayOfWeek</h6>
                @validDate.ToString("D")


                @for (int i = 8; i < 18; i++)
                {
                    if (records.Any(rec => rec.Date.Hour == i))
                    {
                        disAttr = "aria-disabled=true";
                        disClass = "disabled";
                    }
                    <a href="~/Pages/MakeAppointment?date=@validDate.ToString("d")&time=@i" class="btn btn-secondary m-2 w-75 @disClass" id=@($"d{validDate.Day}t{i}") @disAttr>
                        @i:00 - @(i + 1):00
                    </a>

                    {
                        disAttr = "";
                        disClass = "";
                    }
                }

            </div>
        }
    </div>
}






