@using DentalOffice.WebUI.Management;
@{
    Layout = "~/Pages/Layouts/_MainLayout.cshtml";

    var appManager = new AppointmentManager();

    string dayOfWeek = "";
    DateTime validDate = default(DateTime);

    DateTime currentDate = DateTime.Now;
    DateTime tempDate = default(DateTime);


    //  int dayOfWeek = (int)currentDate.DayOfWeek;
    string btnDisabled = "disabled";


}


    <h3 class="text-center">Записаться на прием</h3>
    <div class="row">
        
        <div class="col-md-1"></div>

        <div class="col-md-3">
            @{
                validDate = appManager.GetValidDate(currentDate, out dayOfWeek);
            }
            <h6>@dayOfWeek</h6>
            @validDate.ToString("D")
            @for (int i = 8; i < 18; i++)
            {


                <a href="" class="btn btn-secondary m-2 w-75">@i:00 - @(i + 1):00</a>
            }

        </div>
        <div class="col-md-3">
            @{
                validDate = appManager.GetValidDate(currentDate.AddDays(1), out dayOfWeek);
            }
            <h6>@dayOfWeek</h6>
            @validDate.ToString("D")
            @for (int i = 8; i < 18; i++)
            {


                <a href="" class="btn btn-secondary m-2 w-75">@i:00 - @(i + 1):00</a>
            }
        </div>
        <div class="col-md-3">
            @{
                validDate = appManager.GetValidDate(currentDate.AddDays(2), out dayOfWeek);
            }
            <h6>@dayOfWeek</h6>
            @validDate.ToString("D")
            @for (int i = 8; i < 18; i++)
            {


                <a href="" class="btn btn-secondary m-2 w-75">@i:00 - @(i + 1):00</a>
            }
        </div>



    </div>
