@using DentalOffice.WebUI.Management;
@using DentalOffice.Common;
@using DentalOffice.Entities;
@{
    Layout = "~/Pages/Layouts/_MainLayout.cshtml";
    PageData["Title"] = "Сотрудники";


    var adminMod = new AdministrationModule();
    var roleProvider = new DentalOfficeRoleProvider();

    if (!roleProvider.IsUserInRole(User.Identity.Name, "Админ"))
    {
        Response.Redirect("~");
    }

    List<Employee> employees = adminMod.GetEmployees();
    string photoSrc = adminMod.GetUserPhoto();

    int counter = 0;

}


<div class="table-responsive" id="allUsers">
    <h4 class="text-center my-3">Сотрудники</h4>
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="text-secondary">#</th>
                <th></th>
                <th>Фамилия Имя Отчество</th>
                <th>Возраст</th>
                <th>Стаж</th>
                <th>Должность</th>
                <th>Специализация</th>
                <th>Дополнительно</th>
                <th>Зарегистрирован как пользователь</th>
            </tr>
        </thead>
        <tbody>
            @if (employees != null)
                        {
                            var user = new User();

                            foreach (var employee in employees)
                            {
                                user = adminMod.GetUsers().FirstOrDefault(us => (us.EmployeeData != null) && (us.EmployeeData.ID == employee.ID));
                                if (user != null)
                                {
                                    photoSrc = adminMod.GetUserPhoto(user);
                                }

            <tr>
                <th class="text-secondary">@(++counter)</th>
                <td><img class=" photo" src=@photoSrc></td>
                <th><a href="~/Pages/Admin/Employee?patientId=@employee.ID" target="_blank">@employee.ToString() </a></th>
                <td>@employee.Age</td>
                <td>@employee.WorkExperience</td>
                <td>
                    @if (employee.Post != null)
                    {
                        @employee.Post.Title

                    }
                </td>
                <td>
                    @if (employee.Specialties != null)
                    {

                        foreach (var specialty in employee.Specialties)
                        {
                            <text>@(specialty.Title). </text>
                        }

                    }
                </td>
                <td>@employee.Note</td>
                    <td>
                        @if (user != null)
                    {
                            <a href="~/Pages/Admin/User?action=edit&userId=@user.ID" target="_blank"> @user.Login</a>
                        }
                    </td>
                </tr>
                }

            }
        </tbody>
    </table>
</div>