@using DentalOffice.WebUI.Management;
@using DentalOffice.Common;
@using DentalOffice.Entities;
@{
    Layout = "~/Pages/Layouts/_MainLayout.cshtml";

var roleProvider = new DentalOfficeRoleProvider();

    if (!roleProvider.IsUserInRole(User.Identity.Name, "Админ"))
    {
        Response.Redirect("~");
    }

    PageData["Title"] = "Пользователи";

    var adminMod = new AdministrationModule();
    var roleManage = new DentalOfficeRoleProvider();

    List<User> users = adminMod.GetUsers();


    string action = Request["action"];
    string activeRole = "";
    int counter = 0;
    int roleId = 0;


    if (action == "addRole")
    {
        Int32.TryParse(Request["addRoleId"], out roleId);
        Role role = roleManage.GetRoleFromRequest(Request, "addRoleId");
        activeRole = $"Выбор пользователя для роли {role.Title}";
    }
}


<div class="table-responsive" id="allUsers">
    <h4 class="text-center my-3">Зарегистрированные пользователи</h4>
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="text-secondary">#</th>
                <th></th>
                <th>Логин</th>
                <th>Email</th>
                <th>Дата регистрации</th>
                <th>Зарегистрирован как</th>
                <th>Роли</th>
                <th class="text-danger">@activeRole</th>
            </tr>
        </thead>
        <tbody>
            @if (users != null)
            {
                foreach (var user in users)
                {
                    <tr>
                        <th class="text-secondary">@(++counter)</th>
                        <td><img class=" photo" src=@adminMod.GetUserPhoto(user)></td>
                        <th>@user.Login</th>
                        <td class="small">@user.Email</td>
                        <td class="small">@user.RegistrationDate.ToString("s")</td>

                        <td class="small">
                            @if (user.PatientData != null)
                            {
                                <text>Пациент:
                                    <a href="~/Pages/Admin/Patient?userId=@user.ID" target="_blank"> @user.PatientData.ToString()</a> </text>
                            }

                            @if (user.EmployeeData != null)
                            {
                                <br /> <text>Сотрудник:
                                    <a href="~/Pages/Admin/Employee?userId=@user.ID" target="_blank"> @user.EmployeeData.ToString() </a></text>
                            }

                        </td>
                        <td class="small">
                            @if (user.Roles != null)
                            {
                                foreach (var role in user.Roles)
                                {
                                    @role.Title<br>
                                }
                            }
                        </td>
                        <td>
                            @if (action == "addRole")
                            {
                                <a href="~/Pages/Admin/RoleManagement?action=addUser&userId=@user.ID&roleId=@roleId" title="Удалить">Добавить роль</a><text>&#8195;</text>
                            }
                            else
                            {
                                <a href="~/Pages/Admin/Confirmation?action=delete&entity=user&id=@user.ID" title="Удалить"> <img class="img-icon w-25 h-25" src="~/Content/Images/delete.svg"></a><text>&#8195;</text>
                                <a href="~/Pages/Admin/User?action=edit&userId=@user.ID" title="Редактировать"> <img class="img-icon w-25 h-25" src="~/Content/Images/edit.svg"></a>
                            }
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>
</div>