@using DentalOffice.WebUI.Management;
@using DentalOffice.Entities;
@{
    Layout = "~/Pages/Layouts/_MainLayout.cshtml";

    var adminMod = new AdministrationModule();
    User user = null;
    string confirmMessage = "";
    string displayAttr = "style=display:none";

    string title = "";
    string action = Request["action"];
    string after = Request["after"];
    string backUrl = "";

    Int32.TryParse(Request["userId"], out int userId);
    string login = "";
    string email = "";
    string password = ""; //!----
    string registrationDate = "";
    string photoSrc = "";

    bool isPatient = false;
    bool isEmployee = false;

    int roleId = 0;

    if (IsPost)
    {
       user = adminMod.GetEditedUserFromRequest(Request);
        adminMod.UpdateUser(user);
          Response.Redirect("~/Pages/Admin/AllUsers");

    }
    else if (userId != 0)
    {
        if (action == "deleteRole" || action == "edit")
        {
            displayAttr = "";
            user = adminMod.UserLogic.GetById(userId);

            if (user != null)
            {
                login = user.Login;
                email = user.Email;
                registrationDate = user.RegistrationDate.ToString("F");
                photoSrc = adminMod.GetUserPhoto(user);


                isPatient = (user.PatientData != null);
                isEmployee = (user.EmployeeData != null);

                switch (action)
                {
                    case "deleteRole":
                        Int32.TryParse(Request["roleId"], out roleId);

                        backUrl = (after == "backRoles")
                           ?
                           $"/Pages/Admin/RoleManagement?roleId={roleId}"
                           : "";

                        if (Request["confirm"] == "yes")
                        {
                            user.Roles.RemoveAll(r => r.ID == roleId);
                            adminMod.UpdateUser(user);

                            Response.Redirect(backUrl);
                        }


                        confirmMessage = $"Вы действительно хотите удалить роль {user.Roles.FirstOrDefault(r => r.ID == roleId).Title} для данного пользователя?";
                        break;

                    case "edit":
                        displayAttr = "style=display:none";
                        title = "Редактирование пользователя";
                        break;
                }
            }
        }
    }
    else
    {
        Response.Redirect("~");
    }



}
<div class="row">
    <div class="col-md-7 offset-sm-3">
        <h4 class="text-center my-3">@title</h4>
        <div class="alert alert-danger text-center m-4" role="alert" @displayAttr>
            <strong>@confirmMessage</strong>
            <br />
            <a href="~/Pages/Admin/User?action=deleteRole&userId=@user.ID&roleId=@roleId&confirm=yes&after=@after" class="btn btn-secondary my-4">Да</a> <text>	&emsp;</text>
            <a href=@backUrl class="btn btn-danger">Отмена</a>
        </div>
        <form action="~/Pages/Admin/User.cshtml" enctype="multipart/form-data" id="reg_form" method="post">
            Пользователь <strong>@user.Login</strong> зарегистрирован @registrationDate

            <img class="w-25 h-25 rounded-circle" src=@photoSrc>

            <div class="form-group">
                <input type="hidden" name="userId" id="userId" value=@userId>
            </div>
            <div class="form-group">
                <label for="login">* Логин:</label>
                <input name="login" type="text" class="form-control" id="login" placeholder="Введите логин" value=@login required>
            </div>
            <div class="form-group">
                <label for="email">* E-mail адрес:</label>
                <input name="email" type="email" class="form-control" id="email" placeholder="Введите email" value=@email required>
            </div>
            <div class="form-group">
                <label for="password">Пароль <small>(оставьте поле пустым, если не хотите сменить пароль)</small>:</label>
                <input name="password" type="password" class="form-control" id="password" placeholder="Изменить существующий пароль">
            </div>

            <div class="form-group">
                <label for="userImage">Загрузить изображение:</label>
                <input type="file" class="form-control" data-filename-placement="inside" name="userImage" id="userImage" title="Выбрать файл" lang="ru">
            </div>

            @if (isPatient)
            {
                <p>Пользователь зарегистрирован как <a href="~/Pages/Admin/Patient?userId=@user.ID" target="_blank">пациент</a></p>
            }
            @if (isEmployee)
            {
                <p>Пользователь зарегистрирован как <a href="~/Pages/Admin/Employee?userId=@user.ID" target="_blank">сотрудник</a></p>
            }

        <p>


            @if (user.Roles != null)
            {
                <strong>Роли:</strong>

                foreach (var role in user.Roles)
                {
                    if (after != "backRoles")
                    {
                        <span class="mx-1">@role.Title</span>
                    }
                    else
                    {
                        <a href="~/Pages/Admin/User?action=deleteRole&userId=@user.ID&roleId=@roleId&confirm=yes&after=no">
                            <text>@role.Title</text>
                        </a>
                    }
                }
            }
        </p>
            <button type="submit" class="btn btn-info my-3 w-100">Сохранить изменения</button>
        </form>
    </div>
</div>